<div class="todoMainContainer" [ngClass]="{ deletedShown: showDeleted }">
  <div class="todo-input-title">
    <input
      type="text"
      class="todo-input"
      placeholder="Unesite todo item"
      [(ngModel)]="todoTitle"
      (keyup.enter)="addTodo()"
    />
  </div>

  <div
    cdkDropList
    (cdkDropListDropped)="todoDrop($event)"
    class="todo-list-container"
  >
    <div cdkDrag class="todo-item" *ngFor="let todo of todosFiltered()" @fade>
      <div class="todo-item-left">
        <i
          *ngIf="!todo.editing && !todo.title"
          class="fas fa-grip-vertical"
          style="padding-right: 15px; padding-left: 7px; cursor: pointer"
        ></i>
        <input
          *ngIf="!todo.editing && !todo.title"
          type="checkbox"
          [(ngModel)]="todo.checked"
          style="margin-right: 5px; cursor: pointer"
        />

        <i
          *ngIf="!todo.editing && todo.note?.length > 0 && !todo.title"
          class="fas fa-sticky-note"
          style="margin-left: 8px; cursor: pointer; color: #1572e8"
          (click)="quickOpenNote(todo)"
        ></i>

        <div
          *ngIf="!todo.editing; else editingTodo"
          class="todo-item-label"
          (dblclick)="editTodo(todo)"
          [ngClass]="{
            'todo-completed': todo.checked,
            todoTitle: todo.title,
            todoUnableToResolve: todo.unableToResolve
          }"
        >
          {{ todo.name }}
        </div>

        <ng-template #editingTodo>
          <input
            type="text"
            class="todo-item-edit"
            [(ngModel)]="todo.name"
            (blur)="doneEdit(todo)"
            (keyup.enter)="doneEdit(todo)"
            (keyup.esc)="cancelEdit(todo)"
            autofocus
          />
        </ng-template>
      </div>
      <div *ngIf="!todo.editing" class="todo-item-actions">
        <div #todoMenu *ngIf="todo.menuOpen" class="todoMenu">
          <ng-container>
            <div
              *ngIf="!todo.title"
              class="todoMenuitemOuterDiv"
              (click)="openNoteDialog(todo)"
            >
              <span class="todoMenuItem"
                ><i
                  class="fas fa-sticky-note"
                  [ngClass]="{
                    activeColor:
                      todo.note?.length > 0 ||
                      todo.hasNote ||
                      todo.attachments?.length > 0
                  }"
                ></i
                >&nbsp;&nbsp;Note</span
              >
            </div>

            <div class="todoMenuitemOuterDiv" (click)="markAsTitle(todo)">
              <span class="todoMenuItem"
                ><i
                  class="fas fa-marker"
                  [ngClass]="{ activeColor: todo.title }"
                ></i
                >&nbsp;&nbsp; <span *ngIf="!todo.title">Naslov</span
                ><span *ngIf="todo.title">Ukloni naslov</span></span
              >
            </div>

            <div
              class="todoMenuitemOuterDiv todoMenuItemDelete"
              (click)="deleteTodo(todo.name)"
            >
              <span class="todoMenuItem"
                ><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Delete
              </span>
            </div>
          </ng-container>
        </div>
        <span class="elipsis-icon-span" (click)="todoMenuOpen(todo)">
          <i
            class="fas fa-ellipsis-v"
            [ngClass]="{ activeColor: todo.menuOpen }"
          ></i>
        </span>
      </div>
    </div>
  </div>

  <div class="todoCheckAllItemsContainer">
    <div class="todoCheckAllDiv" style="margin-left: 31px">
      <!-- <label class="showAssignedToMeLabel"
        ><input
          type="checkbox"
          (change)="showAssignedToMeChange()"
          [(ngModel)]="showAssignedToMe"
        />&nbsp;&nbsp;Show only assigned to me</label
      > -->
    </div>
  </div>

  <div class="todoFilterContainer">
    <div class="todoFilterDiv">
      <button
        style="margin-left: 0"
        class="todoFilterBtn"
        [ngClass]="{ activeFilterBtn: filter === 'all' }"
        (click)="changeFilter('all')"
      >
        All ({{ todoItemsLength() }})
      </button>
      <button
        class="todoFilterBtn"
        [ngClass]="{ activeFilterBtn: filter === 'active' }"
        (click)="changeFilter('active')"
      >
        Active ({{ remaining() }})
      </button>
      <button
        class="todoFilterBtn"
        [ngClass]="{ activeFilterBtn: filter === 'completed' }"
        (click)="changeFilter('completed')"
      >
        Done ({{ todoItemsLength() - remaining() }})
      </button>
    </div>
  </div>
</div>

<ejs-dialog
  id="todoNoteDialog"
  class="todoNoteDialog"
  #noteDialog
  [header]="currentTodoName"
  width="400px"
  height="500px"
  [visible]="false"
  [isModal]="true"
  (overlayClick)="onOverlayClickNote()"
  [showCloseIcon]="true"
  (close)="closeNoteDialog()"
  style="
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border: 0;
    padding-bottom: 10px;
    overflow: auto;
    resize: both;
    max-width: 1200px;
    min-width: 250px;
    min-height: 250px;
  "
>
  <ng-template #content>
    <textarea
      style="
        width: 100%;
        font-size: 15px;
        padding: 14;
        margin: 0;
        height: 95%;
        resize: none;
        border: 0;
      "
      [(ngModel)]="note"
    ></textarea>
  </ng-template>
</ejs-dialog>
